@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Luxurious+Roman&family=Varela+Round&display=swap");
/*heading font-family: 'Luxurious Roman', cursive; 
 paragraphs font-family: 'Varela Round', sans-serif;
 buttons font-family: 'Arvo', serif;
*/

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerContactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  padding: 20px;
  border-bottom: solid 1px #fff;
}

.bannerContact {
  font-family: "Varela Round", sans-serif;
  color: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.bannerTextMain {
  color: #fff;
  font-size: 55px;
  font-family: "Luxurious Roman", cursive;
  text-align: center;
}

.sinapari {
  color: #344c76;
}

.bannerCtaContainer {
  display: flex;
  flex-direction: row;
}

.bannerCta1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border: none;
  background-color: #022054;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-family: "Arvo", serif;
  margin-right: 30px;
}

.bannerCta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border: none;
  background-color: #344c76;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  font-family: "Arvo", serif;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  /* background-image: url("https://doodleipsum.com/700/outline?i=efb2399e32de73e7933220b64879154a"); */
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
}

.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60px;
}

.aboutHeader {
  color: #022054;
  font-family: "Luxurious Roman", cursive;
  font-size: 40px;
  padding: 0 40px;
  margin: 0;
}

.aboutContent {
  color: #022054;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  padding: 0 40px;
  width: 100%;
}

.aboutDrivers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #022054;
  padding: 30px 60px;
}

.driverContent {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

.sectionThree {
  display: flex;
  flex-direction: column;
  background-image: url("../public/section3.jpg");
  height: 50vh;
  padding: 60px;
  justify-content: center;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
}

.s3para {
  font-size: 40px;
  color: #022054;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}

.s3button {
  width: 20%;
  color: #022054;
  border: solid 1px #022054;
  padding: 30px 20px;
  background: none;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Arvo", serif;
}

.sectionFour {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../public/section4.jpg");
  height: 50vh;
  padding: 60px;
  justify-content: center;
  /* box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6); */
}

.s4para {
  font-size: 40px;
  color: #fff;
  text-align: right;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}

.s4button {
  width: 20%;
  color: #fff;
  border: solid 1px #fff;
  padding: 30px 20px;
  background: none;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Arvo", serif;
}

.team {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.teamHeading {
  text-align: center;
  color: #022054;
  font-size: 30px;
  font-family: "Luxurious Roman", cursive;
}

.personelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.personelCard {
  position: relative;
  width: 23%;
  height: 300px;
}

.personnelImg {
  width: 100%;
  height: 100%;
}

.personelDetails {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
  padding: 15px 5px;
}

.personelName {
  margin: 0 0 15px 0;
  color: #022054;
  font-size: 20px;
  font-family: "Luxurious Roman", cursive;
  font-weight: 700;
  text-align: center;
}

.personelRole {
  margin: 0;
  color: #022054;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  text-align: center;
}

.footer {
  background-color: #022054a6;
}

.footerHeader {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: "Luxurious Roman", cursive;
}

.message {
  width: 100%;
  height: 350px;
  background: none;
  border: solid 1px #fff;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 30px;
}

.message::placeholder {
  color: #fff;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
}

.senderDetContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shortInput {
  width: 49%;
  background: none;
  border: solid 1px #fff;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 30px;
}

.shortInput::placeholder {
  color: #fff;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
}

.sendButton {
  /* width: 20%; */
  color: #fff;
  border: solid 1px #022054;
  padding: 30px 20px;
  background: none;
  border-radius: 15px;
  font-size: 30px;
  font-family: "Arvo", serif;
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}

.contactContainer {
  padding: 60px;
  border-bottom: solid 1px #fff;
}

.contentContainer {
  width: 49%;
}

@media only screen and (max-width: 1024px) {
  .bannerTextMain {
    color: #fff;
    font-size: 45px;
    line-height: 70px;
    font-family: "Luxurious Roman", cursive;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutHeader {
    font-size: 30px;
  }

  .s3para {
    font-size: 30px;
  }

  .s3button {
    width: 30%;
  }

  .s4para {
    font-size: 30px;
  }

  .s4button {
    width: 30%;
  }
}

@media only screen and (max-width: 425px) {
  .bannerContactContainer {
    justify-content: space-between;
  }

  .aboutHeader {
    padding: 0px;
  }

  .aboutContent {
    padding: 0px;
  }

  .aboutDrivers {
    padding: 30px;
  }

  .sectionThree {
    height: auto;
    padding: 30px;
  }

  .sectionFour {
    height: auto;
    padding: 30px;
  }

  .bannerContact {
    font-size: 15px;
  }

  .banner {
    padding: 20px 40px;
  }

  .aboutUs {
    padding: 30px;
    flex-wrap: wrap;
  }

  .contentContainer {
    width: 100%;
  }

  .s3button {
    width: 100%;
  }

  .s4button {
    width: 100%;
  }

  .s4para {
    width: 100%;
  }

  .sectionThree .sectionFour {
    padding: 30px;
  }

  .personelContainer {
    flex-wrap: wrap;
  }

  .personelCard {
    width: 100%;
    margin-bottom: 30px;
  }

  .team {
    padding: 30px;
  }

  .senderDetContainer {
    flex-wrap: wrap;
  }

  .shortInput {
    width: 100%;
  }

  .sendButton {
    width: 100%;
  }

  .contactContainer {
    padding: 30px;
  }

  .copyrightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    padding: 30px;
  }

  .sectionThree {
    height: auto;
    padding: 30px;
  }

  .sectionFour {
    height: auto;
    padding: 30px;
  }
}
